/target/
/faces-config.NavData
.DS_Store
/ant-pom-local.xml
/src/main/webapp/META-INF/context.xml
/.settings
/.classpath
/.project
/nb-configuration.xml/target/
/faces-config.NavData
*.iml
.idea
.idea/*
.DS_Store
/ant-pom-local.xml
/src/main/webapp/META-INF/context.xml
/src/main/webapp/admin/build/
/src/main/webapp/tenant/build/
/src/main/webapp/operator/build/
/src/main/webapp/operator/.idea/
/src/main/webapp/tenant/.idea/
/src/main/webapp/.idea/
/src/main/webapp/tenant/bootstrap.json
/src/main/webapp/tenant/bootstrap.js
/src/main/webapp/tenant/bootstrap.css
/src/main/webapp/tenant/sass/example/bootstrap.js
/src/main/webapp/operator/bootstrap.json
/src/main/webapp/operator/bootstrap.js
/src/main/webapp/operator/bootstrap.css
/src/main/webapp/operator/sass/example/bootstrap.js
/.settings
/.classpath
/.project
/nb-configuration.xml
